/* 폰트 */
@font-face {
    font-family: 'Samsung Sharp Sans Regular';
    src: local('Samsung Sharp Sans Regular'),
    url("../font/samsungsharpsans.woff");
}
@font-face {
    font-family: 'Samsung Sharp Sans Medium';
    src: local('Samsung Sharp Sans Medium'),
    url('../font/samsungsharpsans-medium.woff');
}
@font-face {
    font-family: 'Samsung Sharp Sans Bold';
    src: local('Samsung Sharp Sans Bold'),
    url('../font/samsungsharpsans-bold.woff');
}
@font-face {
    font-family: 'SamsungOneKorean';
    src: local('SamsungOneKorean'), url('../font/SamsungOne-400.ttf');
}
:root {
    --font-bold: 'Samsung Sharp Sans Bold', arial, sans-serif;
    --color-theme: #007aff;
    --boxshadow-header: 0 1px 0 0 #ccc;
    --boxshadow-topborder: 0 -1px 0 0 #ccc;
    --boxshadow-default: 5px 5px 10px 5px rgba(0, 0, 0, .2);

    --tmp-border: 1px solid skyblue;
    --tmp-bg: pink;
}
body {
    margin: 0;
    font-family: 'Samsung Sharp Sans Regular', sans-serif;
    color: #222;

    height: 10000px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: .1em;
    margin-bottom: .1em;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
.head {
    font-family: 'Samsung Sharp Sans Medium', arial, sans-serif;
}
.contents_area {
    width: 100%;
    max-width: 1440px;

    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;

    margin: 0 auto;
    position: relative;
}
.wrap .hide_lg {
    display: block;
}
.wrap .show_lg {
    display: none;
}
@media screen and (max-width: 1000px) {
    .contents_area {
        padding-left: 20px;
        padding-right: 20px;
    }
}